html {
    font-family: monospace;
    font-size: 18px;
}

h1 {
    text-align: center;
}

select {
    font-family: monospace;
}

form {
    display: flex;
    flex-direction: column;
}

.col-label {
    padding: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
}

.textbox {
    border-radius: 6px;
    font-size: 18px;
    box-shadow: 1px 1px 1px 1px;
    font-family: monospace;
}

.radio-button {
    box-shadow: none;
}

#description {
    text-align: center;
}

#other {
    width: auto;
    height: 100px;
}

#submit {
    font-family: monospace;
}

@media (min-width: 1200px) {
    html {
        margin: 5% 35% 5% 35%;
    }
}

@media (max-width: 1200px) {
    html {
        margin: 5% 25% 5% 25%;
    }
}

@media (max-width: 800px) {
    html {
        margin: 5% 5% 5% 5%;
    }
}