html {
    font-size: 14px;
    margin: 0 15% 0 15%;
}

body {
    font-family: monospace;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: left;
    color: #333;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

h2 {
    font-size: 3.25rem;
}

a {
    color: #3688cc;
}

a:visited {
    color: #9672cf;
}

#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: rgba(238, 238, 238, 0.171);
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div {
    background: white;
    padding: 10px;
    margin: 0;
}

#img-caption {
    margin: 15px 0 5px 0;
}

@media (max-width: 900px) {
    #img-caption {
        font-size: 1.4rem;
    }
    h1 {
        font-size: 3rem;
    }
    html {
        margin: 0 5% 0 5%;
    }
}

#img-div {
    text-align: center;
}

#title {
    text-align: center;
}