* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0 15% 0 15%;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 48px;
}

header {
    position: fixed;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    /* justify-content: space-between; */
    background-color: white;
    width: 100%;
}


/* #header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
} */

#nav-bar-links {
    display: flex;
}

#video-div {
    padding: 100px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
}

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features-list {
    /* display: flex; */
    /* justify-content: center;
    flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 32px;
}

#features-list li {
    display: flex;
    align-items: center;
}

#header-img {
    width: 100px;
    height: auto;
}

#nav-bar-links {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
}

#features-list {
    list-style-type: none;
}

#interest-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 5% 0 5% 0;
}

#email {
    width: 50%;
    font-size: 32px;
}

#submit {
    font-size: 32px;
    color: white;
    background-color: black;
}

#footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0 10px 0;
}

#git-link {
    color: white;
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
    padding: 0 30px 0 30px;
    font-size: 32px;
}

.feature-img {
    width: 100px;
}

@media (max-width: 900px) {
    #video-div {
        flex-direction: column;
    }
    #hero-text {
        text-align: center;
    }
}